<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skillup.mapper.CommentMapper">

  <!-- ポストの全体コメント数カウント -->
  <select id="getCountByPNo" resultType="int">
  	SELECT 	COUNT(cno)
  	FROM 	tbl_comment
  	WHERE 	pno = #{pNo}
  </select>

  <!-- コメントリスト照会 -->
  <select id="getListPage" resultType="com.skillup.domain.CommentVO">
	    SELECT   (row_number() over(ORDER BY cno)) AS crno, cno, cname, ccontent, regdate
	    FROM     tbl_comment
	    WHERE 	 pno = #{pNo}
	    ORDER BY cno DESC limit 10 offset (#{cri.pageNum}-1)*10
  </select>

  <!-- コメント修正 -->
  <update id="update">
    UPDATE tbl_comment
    SET    cname = #{cName}, ccontent = #{cContent}, modidate = CURRENT_TIMESTAMP
    WHERE  cno = #{cNo}
    AND    cpass = #{cPass}
  </update>

  <!-- コメント削除 -->
  <delete id="delete">
  	DELETE FROM tbl_comment WHERE cno = #{cNo} AND cpass = #{cPass}
  </delete>

  <!-- 特定コメント照会  -->
  <select id="read" resultType="com.skillup.domain.CommentVO">
  	SELECT * FROM tbl_comment WHERE cno = #{cNo}
  </select>

  <!-- コメント作成 -->
  <insert id="insert">
	INSERT INTO tbl_comment(pno, cname, cpass, ccontent)
	VALUES (#{pNo}, #{cName}, #{cPass}, #{cContent})
  </insert>

</mapper>











